:root {
  --main: #919191;
}
/*FONTS*/
a {
  color: #2c1500;
  text-decoration: none;
}
button {
  border: solid;
  border-radius: 5px;

  outline: none;
  padding: 0;
  font-family: "manrope";
}
p,
a,
h1,
h2,
h3,
/*BODY*/
body {
  box-sizing: border-box;
  font-family: "manrope";
}
.menu1 {
  width: 254px;
  font-size: 15px;
  line-height: 24px;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
  display: flex;
  flex-direction: line;
  height: 26px;
}
/*HEADER*/
header {
  position: relative;
  margin: 0 auto;
  display: flex;
}
.Logo {
  height: 35px;
  width: 192px;
  margin-top: auto;
  margin-bottom: auto;
}
.Logo1{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  display: flex;
  flex-direction: line;
  height: 65px;
  width: 653px;
}
.minimenu{
width: 256px;
height: 28px;
display: flex;
  flex-direction: line;
  margin-left: 20px;
  margin-top: 4%;
  margin-bottom: auto;
}
.Numb{
font-size: 16px;
line-height: 24px;
margin-top: auto;
margin-bottom: auto;
margin-left: 5px;
}
.phone{
  width: 24px;
  height: 25px;
}
.Header_Inner {
  max-width: 1440px;
  min-width: 100px;
  height: 105px;
  display: flex;
  flex-direction: line;
}
.Header_Shop{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15%;
  font-size: 17px;
line-height: 25px;
}
.Header_Shop1{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15%;
  font-size: 17px;
line-height: 25px;
color:#5C8692;
}
.menu {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 727px;
  height: 65px;
  align-items: right;
  font-family: "manrope";
  font-size: 16px;
  display: flex;
  flex-direction: line;
}
.form_btn{
  height: 59px;
  width: 201px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3%;
  border:none;
}
.kostyl{
  margin-top: 10%;
  display: flex;
  flex-direction: line;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  min-width: none;
  min-height: 100%;
  max-height: 300%;
}
.contariner2{
  max-width: 1200px;
  min-width: 445px;
  font-size: 15px;
  line-height: 24px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: line;
  height: 550px;

}
.contariner{
  max-width: 1440px;
  min-width: 445px;
  min-height: 885px;
  max-height: 200%;
  background-color: #EBF3F5;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}
.Body_First {
  margin-top: auto;
  margin-bottom: auto;
  height: 343px;
  max-width:500px;
  min-width: 100px;
}
.Img_Body_1 {
  max-width: 550px;
  min-width: 50px;
  height: auto;
margin-left: auto;
}
.First_Slide {
  margin-right: auto;
  margin-left: auto;
  width: 1280px;
  height: 740px;
}
.Title1{
  max-width: 396px;
  min-width: 100px;
  min-height: 215px;
  max-height: 200%;
  margin-left: 2%;
}

.Text_1 {
  font-size: 55px;
line-height: 71px;
font-style: normal;
  font-family: "Playfair Display";
}
.Title2{
  max-width: 483px;
  min-width: 100px;
  min-height: 92px;
  max-height: 400%;
  margin-top: 3%;
  margin-left: 2%;
}

.Text_2 {
  font-size: 19px;
line-height: 30px;
  font-family: "manrope";
}

.Btns{
  display: flex;
  flex-direction: line;
  width: 224px;
  height: 42px;
}

.First_Button {
width: 238px;
height: 57px;
border:none;

}
.Second_Button {
  width: 83px;
  height: 42px; 
  background-color: #30B467;
  color:white;
  margin-left: auto;
  }


::selection {
  color: #fff;
  background-color: var(--main);
}
.Body_Forth_Link:hover,
button:hover {
  border: solid 2px black;
  box-shadow: 0 2px 4px black;
}
button:active {
  background-color: black;
  color: #fff;
}
button:focus {
  border: solid 2px black;
  box-shadow: 0 2px 4px black;
}
a:hover {

  box-shadow: 0 2px 4px black;
}
a:focus {
  color: blue;
}
a:active {
  background-color: black;
  color: #fff;
}









